@{
    ViewBag.Title = "Faces. Namics.";
}

<div class="row">
    <div class="col-sm-7">
        @if (@Model.Mode == "Get")
        {
            <h2>Add a Face</h2>
            <form method="post" enctype="multipart/form-data">
                <div class="form-group">
                    <label for="personId">Person</label>
                    <select id="personId" name="personId" size="3">
                        @foreach (var person in @Model.Persons)
                        {
                            <option value="@person.PersonId">@person.Name</option>
                        }
                    </select>
                    <label for="file">Upload Face Image:</label>
                    <input type="file" name="file" id="file" style="width: 100%;" />
                </div>
                <button type="submit" value="Upload" class="btn btn-primary">Add Face</button>
            </form>
        }
        else
        {
            <h2> OK? @Model.Result </h2>
        }
        <h2>Train</h2>
        <form method="post">
            <input type="hidden" name="train" value="true" />
            <button type="submit" class="btn btn-primary">Train</button>
        </form>
    </div>
</div>